@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=cyrillic');

$font-family: 'Montserrat', serif;
$font-size-base: 1em;

$color-black: #000000;
$color-white: #ffffff;

html {
  font-family: $font-family;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    background-color: $color-black;
    h1 {
      text-transform: uppercase;
      opacity: 1;
      animation: fadeIn 5s linear;
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
    }
  }
}
