@import "vars";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: $color-red;
}

html {
  color: $color-white;
  background: $color-black;
  background: linear-gradient(to bottom, $color-grey-light, $color-black);
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

main {
  flex: 1;
}