$font-family: "Open Sans", serif;

$font-size-base: 1em;
$font-size-md: $font-size-base * 3;
$font-size-lg: $font-size-base * 6;

$font-weight-regular: 400;
$font-weight-bold: 800;

$color-black: #000000;
$color-white: #ffffff;
$color-grey-light: #232526;
$color-red: #EA3546;
$color-green: #48BFA3;

$padding-md: 20px;

$breakpoint-tablet: 768px;